# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / runtime
dist/
build/

# Local planning docs
tech_stack_plan.md
AWS_learning_plan.md

# Optional: editor settings
.vscode/
.idea/